AIRService/Connected Services/WebService.VNA.WSOTA_AirAvailLLSRQ/OTA_AirAvailLLS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="OTA_AirAvailRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OptionalQualifiers">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AdditionalAvailability">
                <xs:complexType>
                  <xs:attribute name="AirExtras" type="xs:string" use="optional" />
                  <xs:attribute name="DirectAccess" type="xs:boolean" use="optional" />
                  <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                  <xs:attribute name="MoveDown" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="FlightQualifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AlliancePartner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Group" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Cabin">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Designator" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Exclude" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="VendorPrefs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="20" name="Airline">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="DirectAccess" type="xs:boolean" use="optional" />
                        <xs:attribute name="Exclude" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Charters" type="xs:boolean" use="optional" />
                  <xs:attribute name="DirectOnly" type="xs:boolean" use="optional" />
                  <xs:attribute name="ExcludeCodeshares" type="xs:boolean" use="optional" />
                  <xs:attribute name="OnlineOnly" type="xs:boolean" use="optional" />
                  <xs:attribute name="Scan" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TimeQualifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ArrivalTime">
                      <xs:complexType>
                        <xs:attribute name="WindowAfter" type="sws:time" use="required" />
                        <xs:attribute name="WindowBefore" type="sws:time" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DepartureTime">
                      <xs:complexType>
                        <xs:attribute name="WindowBefore" type="sws:time" use="required" />
                        <xs:attribute name="WindowAfter" type="sws:time" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="OriginDestinationInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FlightSegment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ConnectionLocations">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CarrierSpecificDisplay">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LegOne">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="VendorPrefs">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="20" name="Airline">
                                              <xs:complexType>
                                                <xs:attribute name="Code" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Exclude" type="xs:boolean" use="optional" />
                                          <xs:attribute name="ExcludeCodeshares" type="xs:boolean" use="optional" />
                                          <xs:attribute name="Any" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="LegThree">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="VendorPrefs">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="20" name="Airline">
                                              <xs:complexType>
                                                <xs:attribute name="Code" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Exclude" type="xs:boolean" use="optional" />
                                          <xs:attribute name="ExcludeCodeshares" type="xs:boolean" use="optional" />
                                          <xs:attribute name="Any" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="LegTwo">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="VendorPrefs">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="20" name="Airline">
                                              <xs:complexType>
                                                <xs:attribute name="Code" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Exclude" type="xs:boolean" use="optional" />
                                          <xs:attribute name="ExcludeCodeshares" type="xs:boolean" use="optional" />
                                          <xs:attribute name="Any" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="2" name="ConnectionLocation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="ConnectTimeOverrides">
                                  <xs:complexType>
                                    <xs:attribute name="Max" type="xs:string" use="optional" />
                                    <xs:attribute name="Min" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="LocationCode" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DestinationLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OriginLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ArrivalDateTime" type="sws:dateOrTime" use="optional" />
                  <xs:attribute name="DepartureDateTime" type="sws:dateOrTime" use="optional" />
                  <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                  <xs:attribute name="NumberInParty" type="xs:string" use="optional" />
                  <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.4.0" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>