AIRService/Connected Services/WebService.WSOTA_AirAvailLLSRQ/OTA_AirAvailLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:stl="http://services.sabre.com/STL/v01" xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="OTA_AirAvailRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="OriginDestinationOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginDestinationOption">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightSegment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingClassAvail">
                            <xs:complexType>
                              <xs:attribute name="Availability" type="xs:string" use="optional" />
                              <xs:attribute name="BrandID" type="xs:string" use="optional" />
                              <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                              <xs:attribute name="RPH" type="xs:string" use="optional" />
                              <xs:attribute name="AggregatedContent" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="DaysOfOperation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="OperationSchedule">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="OperationTimes">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="OperationTime">
                                              <xs:complexType>
                                                <xs:attribute name="Fri" type="xs:boolean" use="optional" />
                                                <xs:attribute name="Mon" type="xs:boolean" use="optional" />
                                                <xs:attribute name="Sat" type="xs:boolean" use="optional" />
                                                <xs:attribute name="Sun" type="xs:boolean" use="optional" />
                                                <xs:attribute name="Thur" type="xs:boolean" use="optional" />
                                                <xs:attribute name="Tue" type="xs:boolean" use="optional" />
                                                <xs:attribute name="Weds" type="xs:boolean" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="DestinationLocation">
                            <xs:complexType>
                              <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="DisclosureAirline">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                              <xs:attribute name="CompanyShortName" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Equipment">
                            <xs:complexType>
                              <xs:attribute name="AirEquipType" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="FlightDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="Canceled" type="xs:boolean" use="optional" />
                              <xs:attribute name="Charter" type="xs:boolean" use="optional" />
                              <xs:attribute name="CodeshareBlockDisplay" type="xs:string" use="optional" />
                              <xs:attribute name="DiscontinueDate" type="sws:date" use="optional" />
                              <xs:attribute name="EffectiveDate" type="sws:date" use="optional" />
                              <xs:attribute name="GroundTime" type="xs:string" use="optional" />
                              <xs:attribute name="TotalTravelTime" type="xs:string" use="optional" />
                              <xs:attribute name="TrafficRestrictionCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="MarketingAirline">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                              <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                              <xs:attribute name="ParticipationLevel" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Meal">
                            <xs:complexType>
                              <xs:attribute name="MealCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="OperatingAirline">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="OriginLocation">
                            <xs:complexType>
                              <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ArrivalDateTime" type="sws:dateTime" use="optional" />
                        <xs:attribute name="ConnectionInd" type="xs:string" use="optional" />
                        <xs:attribute name="DepartureDateTime" type="sws:dateTime" use="optional" />
                        <xs:attribute name="DOT_Ind" type="xs:string" use="optional" />
                        <xs:attribute name="eTicket" type="xs:boolean" use="optional" />
                        <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                        <xs:attribute name="OnTimeInd" type="xs:string" use="optional" />
                        <xs:attribute name="RPH" type="xs:string" use="optional" />
                        <xs:attribute name="SmokingAllowed" type="xs:boolean" use="optional" />
                        <xs:attribute name="StopQuantity" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="RPH" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="DestinationTimeZone" type="xs:string" use="optional" />
            <xs:attribute name="OriginTimeZone" type="xs:string" use="optional" />
            <xs:attribute name="TimeZoneDifference" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>