AIRService/Connected Services/WebService.VNA.WSOTA_AirTaxRQ/AirPricing_DiagnosticResponseElement_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" version="1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">Diagnostic Schema for internal customers only</xs:documentation>
  </xs:annotation>
  <xs:element name="DiagnosticInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DiagnosticInfo">
          <xs:complexType>
            <xs:attribute name="Line" type="xs:integer" use="required">
              <xs:annotation>
                <xs:documentation>Line number</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Message" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Type" type="xs:short" use="required">
        <xs:annotation>
          <xs:documentation>Diagnostic Number</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>