AIRService/Connected Services/WebService.VNA.WSOTA_AirTaxRQ/OTA_AirTaxRS_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="AirPricing_DiagnosticResponseElement_v1.0.0.xsd" />
  <xs:element name="AirTaxRS">
    <xs:annotation>
      <xs:documentation>
				Success Warnings ItineraryInfos Errors
			</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element minOccurs="0" name="Success" />
          <xs:element minOccurs="0" name="Warnings">
            <xs:complexType>
              <xs:annotation>
                <xs:documentation>Warning</xs:documentation>
              </xs:annotation>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Warning">
                  <xs:complexType>
                    <xs:annotation>
                      <xs:documentation>
											ShortText RPH
										</xs:documentation>
                    </xs:annotation>
                    <xs:attribute name="ShortText" type="xs:string" use="required" />
                    <xs:attribute name="RPH" type="xs:short" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="ItineraryInfos">
            <xs:complexType>
              <xs:annotation>
                <xs:documentation>
								ItineraryInfo
							</xs:documentation>
              </xs:annotation>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="ItineraryInfo">
                  <xs:complexType>
                    <xs:annotation>
                      <xs:documentation>
											PTC_FareBreakdown TaxInfo
											RPH
										</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                      <xs:element name="PTC_FareBreakdown">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>
														PassengerType
													</xs:documentation>
                          </xs:annotation>
                          <xs:sequence>
                            <xs:element name="PassengerType">
                              <xs:complexType>
                                <xs:annotation>
                                  <xs:documentation>
																	Quantity
																	Code
																	Age
																	Total
																</xs:documentation>
                                </xs:annotation>
                                <xs:attribute name="Quantity" type="xs:short" use="required" />
                                <xs:attribute name="Code" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value=" " />
                                      <xs:pattern value="[A-Z][A-Z0-9]{1,2}" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Age" type="xs:short" use="optional" />
                                <xs:attribute name="Total" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:float" />
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="TaxInfo">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>
														Taxes RPH Total
													</xs:documentation>
                          </xs:annotation>
                          <xs:sequence>
                            <xs:element name="Taxes">
                              <xs:complexType>
                                <xs:annotation>
                                  <xs:documentation>
																	Tax
																</xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                  <xs:element maxOccurs="unbounded" name="Tax">
                                    <xs:complexType>
                                      <xs:annotation>
                                        <xs:documentation>
																				Text
																				TaxCode
																				Amount
																			</xs:documentation>
                                      </xs:annotation>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" name="Text" type="xs:string" />
                                      </xs:sequence>
                                      <xs:attribute name="TaxCode" type="xs:string" use="required" />
                                      <xs:attribute name="Amount" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:float" />
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="TaxDetails">
                              <xs:complexType>
                                <xs:annotation>
                                  <xs:documentation>
																	TaxDetails
																</xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                  <xs:element maxOccurs="unbounded" name="Tax">
                                    <xs:complexType>
                                      <xs:annotation>
                                        <xs:documentation>
																				TaxCode
																				Amount
																				Currency
																				Station
																				Text
																				PublishedAmount
																				PublishedCurrency
																				CountryCode
																				AirlineCode
																				Type
																				GST
																			</xs:documentation>
                                      </xs:annotation>
                                      <xs:attribute name="TaxCode" type="xs:string" use="required" />
                                      <xs:attribute name="Amount" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:float" />
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="Currency" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[A-Z]{3}" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="Station" type="xs:string" use="required" />
                                      <xs:attribute name="Text" type="xs:string" use="optional" />
                                      <xs:attribute name="PublishedAmount" use="optional">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:float" />
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="PublishedCurrency" use="optional">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[A-Z]{3}" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="CountryCode" use="optional">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[A-Z]{2}" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="AirlineCode" use="optional">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:whiteSpace value="collapse" />
                                            <xs:pattern value="[0-9A-Z]{2,3}" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="Type" use="optional">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[0-9a-zA-Z]{1}" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute default="F" name="GST" use="optional">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[TF]" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="RPH" type="xs:short" use="required" />
                          <xs:attribute name="Total" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:float" />
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="RPH" type="xs:short" use="optional" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="0" ref="DiagnosticInfos" />
        </xs:sequence>
        <xs:element minOccurs="0" name="Errors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Error">
                <xs:complexType>
                  <xs:attribute name="ErrorCode" type="xs:string" use="required" />
                  <xs:attribute name="ErrorMessage" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="EchoToken" use="optional">
        <xs:annotation>
          <xs:documentation>
						A sequence number for additional message
						identification, assigned by the requesting host
						system. When a request message includes an echo
						token the corresponding response message MUST
						include an echo token with an identical value.
					</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation xml:lang="en">
							Used for Character Strings, length 1 to 64
						</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
						Indicates the creation date and time of the
						message in UTC using the following format
						specified by ISO 8601; YYYY- MM- DDThh:mm:ssZ
						with time values using the 24 hour clock (e.g.
						20 November 2003, 1:59:38 pm UTC becomes
						2003-11-20T13:59:38Z).
					</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Production" name="Target" use="optional">
        <xs:annotation>
          <xs:documentation>
						Used to indicate whether the request is for the
						Test or Production system.
					</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Test" />
            <xs:enumeration value="Production" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
						For all OTA versioned messages, the version of
						the message is indicated by a decimal value.
					</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:documentation>
						Used to identify the sequence number of the
						transaction as assigned by the sending system;
						allows for an application to process messages in
						a certain order or to request a
						resynchronization of messages in the event that
						a system has been off-line and needs to retrieve
						messages that were missed.
					</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>
						Identifes the primary language preference for
						the form of travel represented in a collection.
						The human language is identified by ISO 639
						codes.
					</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AltLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>
						Identifes the primary language preference for
						the form of travel represented in a collection.
						The human language is identified by ISO 639
						codes.
					</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>